/* ===============   Variables   ============== */
/* ===============   Fonts   ============== */
@Roboto: "Roboto", sans-serif;

/* ===============   Colors   ============== */

@light-blue:#5E9CA3;
@light-blue-text:#9FD3D1;
@dark:#4D4D4D;
@white:#FFFFFF;
@grey:#CCCCCC;
@black:#000000;
@red:#934141;


@purple: #6961D6;
@yellow: #FFCF01;
@green: #00B2A9;
@red: #E32E51;
@brighter-red: #FF1744;

/* ===============   Sizes   ============== */
@ma: 0 auto;
